################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Mission8IS413/FileContentIndex/56d9f512-7bff-4c75-9762-f565556cde77.vsidx
